.sortBlock {
  margin-top: 50px;
  width: 320px;
  height: 125px;
  border-radius: 10px;
  background-color: rgb(77, 89, 105);
  padding-top: 20px;
}

.input {
  margin: 10px;
  margin-left: 20px;
  width: 205px;
}

.sortSelect {
  margin: 15px;
  margin-left: 20px;
  width: 160px;
}

.itemsSelect {
  margin: 15px;
  margin-left: 20px;
  width: 80px;
}
